body > * {
    font-family: "Open Sans", verdana, arial, sans-serif ;
    color: #444444;
}

#graph-adjuster {
    width: 150px;
    margin: -400px 0 400px 65%;
}

.rc-slider-track {
    background-color: rgb(31, 119, 180);
    border-color: rgb(31, 119, 180);
}
.rc-slider-dot, .rc-slider-handle {
    border-color: rgb(31, 119, 180);
    border-radius: 0;
    color: rgb(31, 119, 180);
}

#channels-table {
    width: 800px;
    float: left;
    margin: 5px 5px;
}
#tags-table {
    width: 300px;
    float: left;
    margin: 5px 5px;
}
#topics-table {
    width: 300px;
    float: left;
    margin: 5px 5px;
}

.row-1 {
    overflow-x: hidden!important;
    overflow-y: auto!important;
}

#tags-table > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > div:nth-child(2),
#topics-table > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > div:nth-child(2) {
    margin-right: 0!important;
}