.path {
    font-weight: bold;
    margin-right: 0.3em;
    }

.shw-btn {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    }

.prf-lst-prf-name {
    display: inline-block;
    margin-right: 0.5em;
    width: 60px;
    font-weight: bold;
}

.rnm-sbmt {
    display: none;
    }
