:focus::-moz-placeholder, :hover::-moz-placeholder {
    opacity: 0.1;
}

:focus::-webkit-input-placeholder, :hover::-webkit-input-placeholder {
    opacity: 0.1;
}

input::-moz-placeholder {
    opacity: 1;
    transition: opacity 2s;

}

.path {
    font-weight: bold;
    margin-right: 0.3em;
    }

.shw-btn {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    }
}