<div id="data_dir_setup">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
                {% for message in messages %}
                    {{ message| safe}}<br>
                {% endfor %}
        {% endif %}
    {% endwith %}
        {% if path and not error %}
    Current directory: <span id="data_dir_path">{{ path }}</span>

        {% else %}
            <div id="data_dir_clarification">
                Create the data directory (or enter a previously created one).
                <br>
                All the data and any files necessary for its accumulation
                and processing will be stored here.</div>
        {% endif %}
    {% if path %}
        &nbsp;
        <button id="show_form_button"
                style="display:inline" onclick="showForm()">Change...</button>
        <form id="change_form"
              style="display:none;"
              action="{{ url_for('setup_data_dir') }}"
              method=post
              onsubmit="return confirm('Create new directory?\n
              (The old one and its data will still be there)');">
            <input id="dir_input" name=text placeholder="Directory path...">
            <input type=submit value="Submit">
        </form>
        <script>
            function showForm(){
                var hidden_elem = document.getElementById('change_form')
                var show_form_btn = document.getElementById('show_form_button')
                var input = document.getElementById('dir_input');
                if (hidden_elem.style.display == 'none') {
                    hidden_elem.style.display = 'block'
                    input.focus()
                    show_form_btn.innerHTML = 'Cancel'
                } else {
                    hidden_elem.style.display = 'none'
                    show_form_btn.style.display = 'inline'
                    show_form_btn.innerHTML = 'Change...'
                }

            }

        </script>
    {% else %}

    <form action="{{ url_for('setup_data_dir') }}" method=post>
        <input name=text placeholder="Directory path...">
        <input type=submit value="Create">
    </form>
    {% endif %}
</div>
