{% extends "base.html" %}

{% block favicon_stylesheet %} {{ super() }} {% endblock %}
{% block title %} {{ super() }} {% endblock %}

{% block body %}
    <div id="project-section">
        {% include "flash_messages.html" %}
        <div class="project-dir-path">
            Project directory: <span class="path">{{ path }}</span>
        </div>
    </div>
    <div id="takeout-section" data-full="{{ 'True' if db else '' }}">
        <div id="all-buttons">
            <div id="takeout-buttons">
                    <button id="takeout-setup-button" class="button">Add Takeout</button>
                    <button id="update-records-button" class="button" {{ 'disabled' if not db else '' }}>
                        Update existing records</button>
                    <button id="takeout-cancel-button" class="button-cancel" disabled>Stop</button>
            </div>
            <button id="visualize-button" class="button" {{ 'disabled' if not db else '' }}>Visualize</button>
            <button id="new-project-button" class="button">New project</button>
        </div>
        <div id="takeout-setup" class="{{ 'hidden' if db else '' }}">
            <h2>Add Takeout</h2>
            <div>
                <p>
                    Enter the path to one of the following (searching will become confined to one of these types after
                    the first match):
                </p>
                <ul>
                    <li>a single watch-history.html, ex. &lt;root dir&gt;/Takeout/YouTube/history/watch-history.html</li>
                    <li>a directory with watch-history file(s). Something may be appended at the
                        end of each file name to differentiate between them, e.g. watch-history001.html</li>
                    <li>a directory with directories of the Takeout archives, extracted with their archive names, e.g.
                        takeout-20181120T163352Z-001</li>
                </ul>
                <p>
                    Processing will be slightly faster if the files are ordered chronologically.
                </p>
            </div>

            <form id="takeout-form" class="single-field-form-inputs"
                  action="{{ url_for('records.start_db_process') }}" method="POST">
                <span><span>Path </span><input id="takeout-input" name="takeout-dir" required></span>
                <span><span>Max timezone difference (0-25) </span><input name="tmdt" value="25"
                                                                         pattern="\d{1,2}" required></span>
                <input class="button" type="submit" value="Start">
            </form>
        </div>
        <div id="db-progress">
            <div id="progress-bar-container">
                <div id="progress-bar-rectangle">
                    <div id="progress-bar"></div>
                    <div id="progress-bar-text"><span></span></div>
                </div>
            </div>
            <div id="progress-msg"></div>
            <div id="wait-for-db"></div>
            <div id="process-results"></div>
        </div>
    </div>
    {% include "help/takeout_help.html" %}
    <script src="{{ url_for('static', filename='js/manage_takeout.js') }}"></script>
{% endblock %}