{% extends "base.html" %}

{% block title %}Project setup{% endblock %}

{% block body %}
    <div id="setup-project-container">
            <form id="setup-project-form"
                  action="{{ url_for("setup_project_form") }}" method="POST">
                <span>
                    <label for="project-dir-input">Project directory</label>
                    <input id="project-dir-input" name="project-dir" required>
                </span>
                <span>
                    <label for="api-key-input">Google API key</label>
                        <input id="api-key-input" type="password" name="api-key" required>
                </span>
                <input id="new-project-submit-button" class="button" type="submit" value="Create project">
            </form>
            {% include "flash_messages.html" %}
    {% include "setup_project_help.html" %}
    </div>
{% endblock %}
