<div id="help-container">
    <div class="help-item">
        <h3>Project directory</h3>
        <p>Where all the data will be stored.</p>
    </div>

    <div class="help-item">
        <h3>Google API key</h3>
        <p>
            For making requests to Youtube Data API for information on each video
            <a class="link-btn link-btn:visited"
               href="https://support.google.com/googleapi/answer/6158862?hl=en"
               target="_blank">(how to get one)</a>.
        </p>
    </div>
</div>