{% extends "base.html" %}

{% block favicon_stylesheet %} {{ super() }} {% endblock %}
{% block title %} {{ super() }} {% endblock %}

{% block body %}
    <div id="project-section">
        {% include "flash_messages.html" %}
    </div>
    <div id="index-top-buttons">
        <div id="takeout-buttons">
            <button id="takeout-cancel-button" class="button-cancel" disabled>Stop</button>
        </div>
        <button id="visualize-button" class="button" {{ 'disabled' if not db else '' }}>Visualize</button>
        <button id="new-project-button" class="button">New project</button>
    </div>
    <div id="logging-setting">
        Database operations logging verbosity:
        <select id="logging-verbosity-level">
            <option value="0" {{ "selected" if logging_verbosity == "0" }}>0</option>
            <option value="1" {{ "selected" if logging_verbosity == "1" }}>1</option>
            <option value="2" {{ "selected" if logging_verbosity == "2" }}>2</option>
            <option value="3" {{ "selected" if logging_verbosity == "3" }}>3</option>
        </select>
        (output goes to the terminal and the events.log file in the project directory)
    </div>
    <div id="takeout-section" data-full="{{ 'true' if db else 'false' }}">
        <div id="takeout-setup">
            <h2>Add Takeout</h2>
            <a href="#" id="takeout-instructions-toggle" >Instructions{{ ':' if description or not db else '' }}</a>
            <div id="takeout-instructions" class="{{ '' if description or not db else 'hidden' }}">
                <p>
                    Enter the path to one of the following (searching will become confined to one of these types after
                    the first match):
                </p>
                <ul>
                    <li>a single watch-history.html, ex. &lt;root dir&gt;/Takeout/YouTube/history/watch-history.html</li>
                    <li>a directory with watch-history file(s). Something may be appended at the
                        end of each file name for them to be unique, e.g. watch-history001.html</li>
                    <li>a directory with directories of the Takeout archives, extracted with their archive names, e.g.
                        takeout-20181120T163352Z-001</li>
                </ul>
                <p>
                    Processing will be slightly faster if the files are ordered chronologically.
                </p>
                <h4 id="limitations">Limitations</h4>
                <p>
                    Only Takeout files in English can be parsed by the app, though adjusting code in convert_takeout.py (functions
                    get_watch_history_files and get_all_records) could get it to work with another language.<br>
                    Alternatively, switching your <a href="https://myaccount.google.com/language?utm_source=google-account&amp;utm_medium=web" target="_blank">language</a>
                to English should make the Takeout archives created afterwards be in English.
                </p>

            </div>

            <form id="takeout-form"
                  action="{{ url_for('records.start_db_process') }}" method="POST">
                <input id="takeout-input" name="takeout-dir" placeholder="Takeout directory path"
                       value="{{ takeout_dir if takeout_dir else '' }}" required>
                <input class="button" type="submit" value="Start">
            </form>
        </div>
    </div>
    <div id="update-records">
        <h2>Update video records in the database</h2>

        <form id="update-form"
              action="{{ url_for('records.start_db_process') }}" method="POST">

            Entries that were last updated more than
            <input id="update-cutoff-input" name="update-cutoff" type="text"
                   value="{{ cutoff_time if cutoff_time else '2'}}"
                   pattern="\d+" required>
            <select id="update-cutoff-periods" form="update-form" name="update-cutoff-denomination">
                <option value="3600" {{ "selected" if cutoff_denomination == "3600" }}>hours</option>
                <option value="84600" {{ "selected" if cutoff_denomination == "84600" }}>days</option>
                <option value="592200" {{ "selected" if cutoff_denomination == "592200" }}>weeks</option>
                <option value="2592000" {{ "selected" if cutoff_denomination == "2592000" }}>months</option>
            </select>
            ago
            <input class="button" type="submit" value="Start" {{ "disabled" if not db }}>
        </form>
    <div id="db-progress">
        <div id="progress-bar-container">
            <div id="progress-bar-rectangle">
                <div id="progress-bar"></div>
                <div id="progress-bar-text"><span></span></div>
            </div>
        </div>
        <div id="progress-msg"></div>
        <div id="wait-for-db"></div>
        <div id="process-results"></div>
    </div>
    </div>
    <hr>
    {% include "help/takeout_help.html" %}
    <script src="{{ url_for('static', filename='js/manage_takeout.js') }}"></script>
    <script>
        toggleElementVisibility("takeout-instructions-toggle", "takeout-instructions",
            "Instructions{{ '' if description or not db else ':' }}");
    </script>
{% endblock %}