body > * {
    font-family: "Open Sans", verdana, arial, sans-serif ;
}

h3 {
    color: dodgerblue;
}

._dash-undo-redo {
  display: none;
}

.rc-slider-track {
    background-color: rgb(31, 119, 180);
    border-color: rgb(31, 119, 180);
}
.rc-slider-dot, .rc-slider-handle {
    border-color: rgb(31, 119, 180);
    border-radius: 0;
    color: rgb(31, 119, 180);
}

.row-1 {
    overflow-x: hidden!important;
    overflow-y: auto!important;
}

#channels-table > div:nth-child(1) > div:nth-child(1) > div:nth-child(2) {
    overflow-y: scroll!important;
}

#tags-table > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > div:nth-child(2),
#topics-table > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > div:nth-child(2) {
    margin-right: 0!important;
}